nav {
  border-radius: 5px;
}

nav ul {
  background-color: #f8f9fa;
  max-width: 340px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;

}
nav ul li{
    margin-right: 10px ;
    background-color: #333333;
    border-radius: 5px;
}
nav ul li:hover{
  transition-delay: 100ms;
  background-color: white;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: #333333;
  transition-delay: 10ms;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.bg-img {
  /* The image used */
  background-image: url("../img/apple-devices-computer-contemporary-dark-234527.jpg");

  height: 680px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.parallax {
  margin: 0;
  padding: 0;
  /* The image used */
  background-color: #272932;
  /* Set a specific height */
  height: 330px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax-2 {
  margin: 0;
  padding: 0;
  /* The image used */
  background-color: #000524;

  /* Set a specific height */
  height: 657px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax-3 {
  margin: 0;
  padding: 0;
  /* The image used */
  background-image: url("../img/parallax-3.jpg");

  /* Set a specific height */
  height: 657px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax-4 {
  margin: 0;
  padding: 0;
  /* The image used */
  background-color: #191919;

  /* Set a specific height */
  height: 657px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.card-container {
  display: flex;
}

.card-style {
  width: 400px;
  margin: 20px
}

.hero-container {
  display: grid;
  grid-template-columns: 100px 100px  20px auto 20px 100px 100px;
  grid-template-rows: 1fr 200px 20px;
  align-items: center;
  justify-content: center;
}

.title-hero {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;

}

.title-hero h1 {
  margin-top: 160px;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}
.title-hero p {
  max-width: 900px;
  color: white;
  font-size: 25px;
}

.buttons {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button-down {
  display: flex;
  justify-content: center;
}

.img-button-hover:hover {
  opacity: 0.7;
}

.buttons-container a {
  margin: 20px;
}

.button-container {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.button-down img {
  height: 40px;
}

.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about {
  margin-top: 100px;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
.about,.contact h1, p {
  color: white;

}

.contact {
  margin-top: 60px;
  display: grid;
  grid-column-start: 2;
}

.img-profile {
  margin-top: 100px;
}

.title-portafolio {
  margin-left: 40%;
  background-color: #333333;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-portafolio h1 {
  color: white;
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px auto;
}

.title-contact {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}  

.title-contact h3 {
  margin-top: 60px;
  color: white;
  margin-left: 60px;
}

.place {
  color: #e0e3e3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

.place-img {
  height: 40px;
  width: 40px;
}


.inputs-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.input-name {
  margin-top: 60px;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 7px;

}

.input-email {
  width: 350px;
  margin-bottom: 10px;
  border-radius: 7px;

}

.input-subject {
  width: 350px;
  margin-bottom: 20px;
  border-radius: 7px;

}

.input-message {
  width: 350px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 7px;

}

.footer-info-container {
  background-color: black;
  color: white;
}

.footer-container .container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
}

.info-container-footer {
  display: grid;
  align-items: center;
  justify-content: center;
}

.social-media-container ul li {
  list-style: none;
  margin-top: 10px;
}

.social-media-container ul li img {
  height: 40px;
}

.footer-conctact-container {
  display: flex;
  flex-direction: column;
}

.footer-conctact-container p img {
  height: 40px;
}
.footer-conctact-container a img {
  height: 40px;
}

.footer-conctact-container a {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-info-container h1 {
    font-size: medium;
}