<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html') %>
</head>
<body>
  <%- include ('partials/navigation.html') %>
      <!--About me-->
      <div class="container-fluid">
        <div class="container-fluid">
          <div id="cv" class="row">
            <img class="img rounded m-4" src="http://www.mediafire.com/convkey/fb84/ocdmk50yd907edgzg.jpg" style="height: 400px;" alt="">
            <div class="col m-4">
              <h1>About Me</h1>
              <p>
                Qualiﬁed Web Developer, Junior Front-End and Technical Support Engineer CISCO CNNA. Proﬁcient in
                programming language such as HTML, JavaScript, CSS3 and React Native and currently strengthening
                Front-End
                Architecture skills. Reliable, problem solver and patient. I intend to use all my technical skills to
                meet
                the company’s expectations.
              </p>
            </div>
            <div class="col m-4">
              <h1>Contact Details</h1>
              <p>
                Costa Rica <br>
                Escazu <br>
                (506) 6172-7356 <br>
                andrewjumpermc@gmail.com
              </p>
              <a href="https://drive.google.com/uc?id=1k_UjsPVZ2HSAEZ0udg9LAmcShdu_JD88&export=download"><button class="btn btn-primary"><i class="fas fa-file-download"></i> Download my Resume</button></a>
            </div>
            <a href="#portafolio"><img src="../img/down.png" width="40px" alt=""></a>
          </div>
        </div>
      </div>
      <!--About me-->
      <%- include ('partials/footer.html')%>
</body>
</html>