<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html') %>
</head>
<body>

    <%- include ('partials/navigation.html') %>

    <div class="container-fluid p-0 m-0">
        <div class="parallax-3">
          <div id="portafolio" class="container-xl">
            <div class="title-portafolio">
              <h1 class="m-4">Portfolio</h1>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
              <div class="col mb-4">
                <div class="card animated flipInY animate__delay-3s">
                  <img src="https://www.mediafire.com/convkey/8afc/f8a33zbqlnk5s55zg.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="/"><button class="btn btn-primary">Ver Proyecto</button></a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card animated flipInY animate__delay-3s">
                  <img src="https://www.mediafire.com/convkey/46eb/foy865qmq4t6aw6zg.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="https://jumperenterprise.github.io/fed-pkcr/" target="_blank"><button class="btn btn-primary">Ver Proyecto</button></a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card animated flipInY animate__delay-3s">
                  <img src="http://www.mediafire.com/convkey/ca0a/z0rq1jqztklezmpzg.jpg" class="card-img-top" alt="...">  
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="https://aquafuncr.com/" target="_blank"><button class="btn btn-primary">Ver Proyecto</button></a>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card animated flipInY animate__delay-3s">
                  <img src="http://www.mediafire.com/convkey/e387/r1hjpizxioj6xs0zg.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="https://jumperenterprise.github.io/Rick-Morty/" target="_blank"><button class="btn btn-primary">Ver Proyecto</button></a>
                  </div>
                </div>
              </div>
            </div>
            <a class="m-5" href="#contact"><img src="/img/down.png" width="40px" alt=""></a>
          </div>
        </div>
      </div>

      <%- include ('partials/footer.html')%>    
</body>
</html>