
      <footer>
        <div class="container-fluid bg-dark text-white">
            <div class="row">
              <div class="d-flex justify-content-around">
                <div class="col-sm m-2">
                  <h3 class="mt-2">Mas Informacion</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, excepturi amet dolorum, facilis
                    dolor in aut necessitatibus ea debitis magnam molestiae commodi tempora totam dicta optio alias enim
                    ipsum deleniti error, blanditiis nesciunt ipsa magni aliquam assumenda. Placeat reprehenderit magnam
                    delectus omnis similique ut libero dolorum in, saepe cupiditate expedita.</p>
                </div>
                <div class="col-sm ml-5">
                  <h3 class="mt-2">Redes Sociales</h3>
                  <ul class="list-unstyled">               
                    <a href="/" class="text-white"  target="_blanc" class="mt-4"><li><i class="fab fa-instagram"></i> Sigueme por instagram.</li></a>
                    <a href="/" class="text-white" target="_blanc" class="mt-4"><li><i class="fab fa-facebook"></i> Sigueme por facebook.</li></a>
                    <a href="/" class="text-white"  target="_blanc" class="mt-4"><li><i class="fab fa-twitter"></i> Sigueme por twitter.</li></a>
                    <a href="/" class="text-white"  target="_blanc" class="mt-4"><li><i class="fab fa-linkedin"></i> Sigueme por linkedin.</li></a>
                    <a href="https://github.com/Jumperenterprise" target="_blanc" class="mt-4 text-white"><li><i class="fab fa-github"></i> Sigueme por github.</li></a>
                  </ul>
                </div>
                <div class="col-sm">
                    <h3 class="row mt-2">Informacion de Contacto</h3>
                    <p class="row mt-4"><i class="fas fa-map-marked-alt mr-2"></i> Costa Rica, Escazu.</p>
                    <a class="row text-white mt-4" href="/"><i class="fas fa-mobile-alt mr-2"></i> (506)6172-7356</a>
                    <a class="row text-white mt-4" href="mailto:andrewjumpermc@gmail.com"><i class="fas fa-envelope-open-text mr-2"></i> andrewjumpermc@gmail.com</a>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center bg-info text-white">
              <a class="text-white" href=""><h6>©Jumper|Enterprise 2020</h6></a>
            </div>
        </div>
      </footer>

      <!--Scripts-->
      
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
